html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h2 {
  display: inline;
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
}

p {
  margin: 0;
  margin-top: .38em;
  font-size: 2rem;
  font-style: italic;
  font-weight: lighter;
}

.banner {
  position: relative;
  max-height: 500px;
}

.banner-content {
  padding: 0 1.5em;
  width: 100%;
  max-width: 50em;
  position: absolute;
  left: 50%;
  bottom: 1.75em;
  transform: translateX(-50%);
}

.img-flex {
  width: 100%;
  display: block;
  overflow: hidden;
}
